@import "./constantes.scss";

.filter       { width: 100%; height: 100%; background: black; opacity: .3; position: absolute; z-index: 35;}
.turningDisc  { animation: turning 25s linear infinite; animation-play-state: paused;}
.show {opacity: 1;}
.hide {opacity: 0;}
.fadeOut  { display: none;}

@keyframes turning {
  to  { transform: rotate(360deg); }
}


#Loaded { width: 100%; height: 100vh; background: var(--dark1); position: absolute; top: 0; left: 0; z-index: 10000; transition: 1s;}

#Player { width: 100%; height: 100vh; background: rgb(61, 61, 61);
          #Jacket { height: 100%; aspect-ratio: 1/1; z-index: 50; position: fixed; top: 0; left: 0;
                    #Naming { width: 80%; height: 50px; position: absolute; z-index: 100; top: -25%; left: 0; right: 0; bottom: 0; margin: auto;
                              h2  { font-size: 70px; color: var(--light); font-family: SpotBold; filter: drop-shadow(0 0 6px var(--dark));}
                              p   { font-size: 50px; color: var(--light); font-family: Spot; filter: drop-shadow(0 0 6px var(--dark)); margin-top: 15px;}
                            }
                    #Links  { width: 40%; height: 200px; position: absolute; z-index: 100; right: 25px; bottom: 25px; display: flex; align-items: center; justify-content: space-around;
                              a { width: 100px; height: 80%; @include centerCol; justify-content: flex-start;
                                  svg { width: 90%; height: 35%; margin-top: 30px; filter: drop-shadow(0 0 6px var(--dark));
                                        path  { fill: var(--light);}
                                        #about{ fill: none; stroke: var(--light);}
                                      }
                                  p   { width: 90%; font-size: 16px; color: var(--light); font-family: SpotLight; text-align: center; margin-top: 10px; filter: drop-shadow(0 0 6px var(--dark));}
                                  &:hover {
                                            svg { filter: drop-shadow(0 0 6px var(--light));}
                                            p   { filter: drop-shadow(0 0 6px var(--light));}
                                          }
                                }
                            }
                    #Pic    { width: 100%; height: 100%; position: absolute; z-index: 20; filter: drop-shadow(10px 0px 15px black);}
                    #disc   { width: 150%; height: 150%; position: absolute; z-index: 5; right: -25%; top: -25%; @include centerRow; position: relative;animation: turning 25s linear infinite; animation-play-state: paused;
                              #vinyl { width: 130%; height: 130%; z-index: 5; position: absolute;}
                              #Dcenter { width: 57%; height: 56%; border-radius: 50%; z-index: 10; margin-top: -1%; box-shadow: 0 0 8px 8px whitesmoke;}
                            }
                    #play { height: 14vh; aspect-ratio: 1/1; background: white; position: absolute; right: -8vh; top: calc(50% - 8vh); z-index: 100; border-radius: 50%; border: 10px solid rgb(188, 188, 188); @include centerRow;
                            svg { width: 40%; height: auto; margin-left: 5px; position: absolute;}
                            &:hover { filter: drop-shadow(0 0 4px white); border: 10px solid white; cursor: pointer;
                                      svg { fill: var(--custom-color);}
                                    }
                            #playButton   { z-index: 10;}
                            #pauseButton  { z-index: 5; margin: 0;}
                            
                          }
                    #card { height: 20vh; min-width: 500px; width: fit-content; max-width: 650px; background: var(--light); position: absolute; z-index: 10; top: calc(50% - 10vh); left: 99%; border-radius: 0 15px 15px 0; filter: drop-shadow(4px 4px 4px black); padding-right: 10px; display: flex; flex-direction: column; justify-content: center;
                            #song { width: fit-content; height: fit-content; margin-left: 20%; margin-top: -20px;
                                    p { font-family: Spot; font-size: 30px; color: black;}
                                  }
                            #ft   { width: fit-content; height: fit-content; margin-left: 20%; margin-top: 10px;
                                    p { font-family: Spot; font-size: 20px; color: var(--dark);}
                                  }
                            #progressbar  { width: fit-content; height: 25px; position: absolute; right: calc(50% - 250px); bottom: 15px; @include centerRow;
                                            p     { font-family: Spot; font-size: 18px; color: black; margin: 0 15px;}
                                            input { width: 290px; -webkit-appearance: none; appearance: none;
                                                    &:focus { outline: none; }
                                                    &::-webkit-slider-runnable-track { opacity: .5; width: 100%; height: 1px; cursor: pointer; box-shadow: none; background: var(--custom-color); border-radius: 0px; border: 0px solid #ff0000;}
                                                    &::-moz-range-track { width: 100%; height: 1px; cursor: pointer; box-shadow: none; background: #ffffff; border-radius: 0px; border: 0px solid #010101;}
                                                    &::-webkit-slider-thumb { box-shadow: none; border: 0px solid #3cff00; box-shadow: 0px 10px 10px rgba(0,0,0,0.25); height: 35px; width: 16px; border-radius: 22px; background: var(--custom-color); cursor: pointer; -webkit-appearance: none; margin-top: -16px; }
                                                    &::-moz-range-thumb{ box-shadow: none; border: 0px solid #afff03; box-shadow: 0px 10px 10px rgba(0,0,0,0.25); height: 35px; width: 16px; border-radius: 22px; background: rgb(255, 0, 179); cursor: pointer; appearance: none; -webkit-appearance: none; margin-top: -16px; }
                                                    &::-moz-focus-outer { border: 0; }
                                                  }
                                          }
                          }
                    #navigation { width: 150px; height: 50px; position: absolute; z-index: 100; right: -500px; bottom: 30%; display: flex; justify-content: space-around; align-items: center;
                                  div { height: 100%; aspect-ratio: 1/1; border-radius: 500px; border: 3px solid var(--light); @include centerRow;
                                        svg     { width: 70%; height: auto; path  { fill: var(--light);}}
                                        &:hover { cursor: pointer; filter: drop-shadow( 0 0 4px var(--light)); }
                                      }
                                }
                  }
        }